@media screen
{
		body {
			font-family: "Trebuchet MS", "Helvetica", "Arial",  "Verdana", "sans-serif";
			font-size: 90%;
		}

		input[type="text"]{
			font-family: "Trebuchet MS", "Helvetica", "Arial",  "Verdana", "sans-serif";
			font-size: 80%;
			border: 1px solid #C0C0C0;
		}

		input[type="password"]{
			font-family: "Trebuchet MS", "Helvetica", "Arial",  "Verdana", "sans-serif";
			font-size: 80%;
			border: 1px solid #C0C0C0;
		}		
		
		th{
		font-size: 80%;
		}
		
		.timeTipe{
			width: 50px;
			font-size: 70%;
			background-color: #F2F5A9;
		}

		.produccion{
			width: 70px;
			font-size: 70%;
		}

		.fecha{
			width: 70px;
			font-size: 75%;
			background-color: #F2F9A9;
		}
		
		.alerta{
			color: #FE5E04;
			font-size: 90%;
			font-weight: bold;
			border: 1px solid #C0C0C0;
			background-color: #FFFFFF;
		}

		.clear-fix{
			clear: both;
			display: block;
		}
		
		#contenedor {
		width: 60%;
		margin: 0px auto;
		}

		#menu{
		width: 800px;
		margin: 0px auto;
		}

		#centrado{
		clear:left;
		width: 800px;
		margin: 0px auto;
		}
		
		#supervisor {
		float:left;
		width: 800px;
		margin: 0px auto;
		padding: 3px 0px 15px 0px;
		}
		
		#reporte {
		float:left;
		width: 700px;
		margin: 0px auto;
		padding: 0px 0px 0px 0px;
		}	

		.tiempos{
		float: right;
		width: 233px;
		font-size: 80%;
		}
		
		.tiempos p{
		margin: 0px 0px;

		}		
}

@media print{
	input[type="text"]{
		font-family: "Trebuchet MS", "Helvetica", "Arial",  "Verdana", "sans-serif";
		font-size: 85%;
		border-style: none;
		width:70px;
	}
	
	input[type="password"]{
		font-family: "Trebuchet MS", "Helvetica", "Arial",  "Verdana", "sans-serif";
		font-size: 85%;
		border-style: none;
		width:70px;
	}
	
	input[type="button"]{
		visibility: hidden;
	}
	
	input[type="submit"]{
		visibility: hidden;
	}
}
