.sf-menu {position:absolute; top:0px; left:0px; margin:0; padding:0; z-index:3;}
.sf-menu > li {
	float:left;
	font-size:13px;
	line-height:18px;
	text-transform:uppercase;
	margin:0;
	word-spacing:-1px;
	padding:13px 20px 13px 19px;
	background:url(../images/menu-spacer.gif) right 0 no-repeat;
	position:relative;
}
.sf-menu > li > a {
	display:block;
	color:#696969;
	text-decoration:none;
	position:relative;
}
.sf-menu li a:hover, .sf-menu li.sfHover a, .sf-menu li a.current {color:#fe5e04;}

/***********************submenu***********************/
.sf-menu ul {
	display:none;
	position:absolute;
	width:205px; /* left offset of submenus need to match (see below) */
	padding:1px;
	background:#292929;
	border-radius:0 0 5px 5px;
	-webkit-background-clip: padding-box;
	z-index:200;
}
.sf-menu ul li {width:185px; font-size:12px; line-height:28px; word-spacing:normal; text-transform:none; padding:0 0 0 20px; margin:0 0 1px 0; position:relative; background:#333333;}
.sf-menu li:hover li a, .sf-menu li.sfHover li a {display:inline-block; color:#929191; text-decoration:none; font-family:Arial, Helvetica, sans-serif;}
.sf-menu li li a:hover, .sf-menu li li.sfHover a {color:#fcfcfc;}
.sf-menu li:hover ul, .sf-menu li.sfHover ul {left:0; top:44px; z-index:99;}

/***********************submenu2***********************/
ul.sf-menu li li:hover ul, ul.sf-menu li li.sfHover ul {left:145px; top:0px;}
.sf-menu li li.sfHover li a {
	display:block;
	font-size:14px;
	line-height:34px;
	color:#000;
	font-weight:400;
	text-decoration:none; 
	position:relative;
	background:url(../images/submenu-left.png) left 0 no-repeat;
}
.sf-menu li li.sfHover li a strong {display:inline-block; font-weight:400; padding:0 11px; background:url(../images/submenu-right.png) right 0 no-repeat;}
.sf-menu li li.sfHover li a strong strong {padding:0 0 1px 8px; width:114px; background:url(../images/submenu-tail.png) 0 0 repeat-x; cursor:pointer;}
.sf-menu li li.sfHover li a:hover {background:url(../images/submenu-left.png) 0 bottom no-repeat; color:#fff;}
.sf-menu li li.sfHover li a:hover strong {background:url(../images/submenu-right.png) right bottom no-repeat;}
.sf-menu li li.sfHover li a:hover strong strong {background:url(../images/submenu-tail.png) 0 bottom repeat-x;}

.sf-menu li:hover, .sf-menu li.sfHover, .sf-menu a:focus, .sf-menu a:hover, .sf-menu a:active {outline:0;}